<?php
dibi::connect(array(
              'driver'   => 'mysqli',
              'host'     => 'localhost',
              'username' => 'localhost',
              'password' => 'localhost',
              'database' => 'codenames',
              'charset'  => 'utf8',
          ));
?>